{% load static %}
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <title>{{ window_title }}</title>

        {% for s in css_file %}
        <link rel="stylesheet" href="{% static s %}">
        {% endfor %}

        {% for m in extra_css_file %}
        <link rel="stylesheet" href="{% static m %}" type="text/css" media="screen" >
        {% endfor %}

    </head>

    <body>
    {% include 'navbar.html' %}
      <div class="container">
        <div class="jumbotron">
        {% block content %}{% endblock %}
        </div>
      </div>
    <!-- placed at end of doc so it loads faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% for j in js_file %}
        <script type="text/javascript" src="{% static j %}"></script>
    {% endfor %}

    {% for k in extra_js_file %}
        <script type="text/javascript" src="{% static k %}"></script>
    {% endfor %}
    </body>
</html>
