{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>New Home Page!</h1>
        <p>Quick example to show the layout.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" rolw="button">Example Button that does Nothing</a>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis felis a mauris dignissim, non semper neque consectetur. Etiam eget leo eget sem malesuada egestas. Morbi nulla tellus, euismod at dolor in, congue interdum risus. Integer eu sapien odio. Sed id posuere ligula, vel ornare purus. Proin risus sapien, tristique at ante et, fermentum scelerisque lectus. In hac habitasse platea dictumst. Phasellus lacinia, ipsum nec ornare luctus, leo elit rutrum libero, ac ultrices leo odio scelerisque urna.
        </p>
        <p>
            Nunc in efficitur nunc. Nam tincidunt erat et ex fermentum sagittis non in est. Cras non tempus turpis. Morbi tempus urna sit amet tortor posuere scelerisque. Proin faucibus risus non gravida tincidunt. Morbi nec justo vitae tortor tempus tempor. Aenean sed eros sed orci sodales dapibus sed ac est. Vivamus at justo sed velit vestibulum pretium. Vestibulum suscipit neque odio, quis dapibus sem maximus quis. Suspendisse nec egestas purus, eget volutpat purus. Vestibulum rutrum congue consectetur. Sed vel lectus mollis, lobortis elit in, efficitur purus. Donec metus mauris, pellentesque eget odio eget, posuere pulvinar arcu.
        </p>
        <p>
            Nullam dictum imperdiet leo a faucibus. Suspendisse potenti. Suspendisse in imperdiet tellus, a euismod leo. Quisque at imperdiet felis. Vivamus bibendum, dui sed fermentum mollis, nisl risus ultricies sapien, id euismod ante arcu ut est. Morbi pharetra convallis quam, nec semper sapien aliquam et. Mauris vel accumsan arcu, eu convallis arcu. Duis faucibus placerat tellus at dapibus. Nulla blandit gravida egestas. Aliquam non pellentesque augue, in consequat dolor. Nulla ultrices orci arcu, sed egestas diam gravida at.
        </p>
        <p>
            Fusce eu lacinia arcu. Vestibulum ac consequat felis. Vestibulum rhoncus libero in ipsum euismod, congue consectetur sem convallis. Sed enim sapien, blandit sed fermentum at, interdum at massa. Donec vestibulum scelerisque quam. Aenean ornare ex diam. Nam ipsum nisi, fermentum dignissim vestibulum eu, maximus eu eros. Maecenas sed euismod eros. Nullam non auctor lorem. Vivamus facilisis dui a libero malesuada, ac dapibus metus blandit. Morbi tristique, urna vitae vulputate eleifend, leo enim ullamcorper sem, et tincidunt est nisl vel ipsum. Curabitur commodo diam ipsum, a interdum urna interdum sed. Curabitur in lectus leo. Sed urna urna, porttitor eget dignissim et, fringilla non nulla. Nullam semper augue at lacinia consectetur.
        </p>
        <p>
            Sed vitae nisl placerat purus dignissim venenatis a at quam. Donec euismod magna lorem, eu iaculis dolor aliquam in. Aenean consectetur hendrerit ipsum. Donec eget fermentum est. Aenean condimentum est eu tincidunt euismod. Aenean vehicula, lorem ac semper dictum, metus erat pulvinar felis, vel pellentesque urna quam nec diam. Vivamus tincidunt porta urna sit amet lacinia. Mauris et vehicula est. Sed vehicula convallis nunc non tempor. Curabitur tristique ante at lectus laoreet bibendum eu facilisis nulla. Quisque mollis dui id condimentum sodales. Fusce varius bibendum ante ut tristique. Nam at consectetur urna. In placerat urna quis leo tempor sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas non commodo dui, non convallis massa.
        </p>
    </div>
</div>
{% endblock %}